{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title hre>Database Project No.4-攻擊型生物</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title hre>Database Project No.4-攻擊型生物</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href='{% static "main_page/css/sb-admin-2.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template-->
    <script src="https://kit.fontawesome.com/2e21094afd.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <!-- Sidebar - Brand -->
            <form action="/MinecraftDB/backtomain/" method="POST">
                {% csrf_token %}
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/MinecraftDB/backtomain/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-compass"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">NUK CSIE<sup>No.6</sup></div>
                </a>
            </form>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <form action="/MinecraftDB/backtomain/" method="POST">
                    {% csrf_token %}
                    <a class="nav-link" href="/MinecraftDB/backtomain/">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>主頁</span></a>

                </form>

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                快速查詢
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-paw"></i>
                    <span>生物</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">生物:</h6>
                        <a class="collapse-item" href="/MinecraftDB/aggressive_mobs">攻擊型生物</a>
                        <a class="collapse-item" href="/MinecraftDB/neutral_mobs">中立型生物</a>
                    </div>
                </div>
            </li>



            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-globe-asia"></i>
                    <span>世界</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">世界:</h6>
                        <a class="collapse-item" href="/MinecraftDB/Overworld">主世界</a>
                        <a class="collapse-item" href="/MinecraftDB/Nether">地獄</a>
                        <a class="collapse-item" href="/MinecraftDB/End">終界</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-hamburger"></i>
                    <span>道具</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">道具:</h6>
                        <a class="collapse-item" href="/MinecraftDB/tools">工具</a>
                        <a class="collapse-item" href="/MinecraftDB/foods">食物</a>
                        <a class="collapse-item" href="/MinecraftDB/building_materials">建材</a>
                        <a class="collapse-item" href="/MinecraftDB/ores">礦物</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - 地形 -->
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/biome">
                    <i class="fas fa-mountain"></i>
                    <span>地形</span></a>
            </li>


            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/structures">
                    <i class="fas fa-gopuram"></i>
                    <span>結構</span></a>
                <div class="topbar-divider d-none d-sm-block"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/Steve">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    <span>史蒂夫戰鬥力計算機</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"><i class="fas fa-angle-down"></i></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column End">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/MinecraftDB/Search/" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{Username}}</span>
                                <img class="img-profile rounded-circle" src="https://fakeimg.pl/128x128/?retina=1&text=%E5%B8%A5%E5%93%A5&font=noto">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/MinecraftDB/profile/">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 個人簡介
                                </a>
                                <a class="dropdown-item" href="/MinecraftDB/post/getpost/">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> 新增/刪除貼文
                                </a>
                                <a class="dropdown-item" href="/MinecraftDB/ALLpost">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> 所有貼文
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/MinecraftDB/login" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> 登出
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid End-inside">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-main mb-4">
                        <h1 class="h3 mb-0 text-gray-800">終界</h1>

                    </div>
                    <!-- /.container-fluid -->
                    <p>終末之界（終界，The End）是類似於外空間的黑暗維度，它漂浮在虛空之中。</p>
                </div>
                <div class="container-fluid">
                    <h2 class="h4 mb-0 text-gray-800 justify-content-main">前往</h2>
                    <div class="thumb tright">
                        <div class="thumbinner" style="width:302px;">
                            <img alt="" src="https://gamepedia.cursecdn.com/minecraft_zh_gamepedia/thumb/8/8e/Active_End_Portal.png/320px-Active_End_Portal.png"></a>
                            <div class="thumbcaption">
                                <div class="magnify">
                                </div>一個終界傳送門房間。</div>
                        </div>
                    </div>
                    <p>要進入終末之界，玩家必須在要塞里找到並激活終界傳送門。<br> 終界傳送門房間有3×3的終界傳送門框架（邊角沒有終界傳送門框架），共計有12個終界傳送門框架。有一條階梯通往浮在熔岩池上方的傳送門。在階梯旁邊有一個蠹魚生怪磚。
                        <br> 玩家需要把12個終界之眼分別插入到12個終界傳送門框架中。所有終界傳送門框架都被插入終界之眼後，終界傳送門便會激活並且會發出巨大的轟鳴聲。任何在終界傳送門框架中間3×3空間裡包括基岩和其他終界傳送門框架在內的方塊、實體都會被摧毀並被終界傳送門方塊代替。玩家在進入激活的終界傳送門時會被立刻傳送到終末之界。
                    </p>
                </div>
                <div class="container-fluid End-inside">
                    <h2 class="h4 mb-0 text-gray-800 justify-content-main">環境
                    </h2>
                    <div class="thumb tright">
                        <div class="thumbinner" style="width:302px;">
                            <img alt="" src="https://gamepedia.cursecdn.com/minecraft_zh_gamepedia/thumb/e/ec/EndCityBanners.png/320px-EndCityBanners.png"></a>
                            <div class="thumbcaption">
                                <div class="magnify">
                                </div>終界城。</div>
                        </div>
                    </div>
                    <P>終末之界由一個大島嶼和遠處的許多小外島構成，它們主要由終界石組成。中央島嶼和外島之間的缺口是一個長約1000格的虛空。 終末之界的天空和虛空都是沒有圖案的靜止黑暗。終末之界沒有日夜交替，與地獄一樣；取而代之的是恆久不變的暗淡光芒。 大多數的物品和方塊在終末之界的功能與在主世界一樣，除了以下例外：

                    </P>
                    <ul>
                        <li>像地獄那樣，在終末之界使用床時會爆炸</a>，其爆炸威力比TNT大25%。並且會生成火。</li>
                        <li>像地獄那樣，熔岩在終末之界會流得更快些；但它在終末之界流動的距離與主世界一樣是3格。</li>
                        <li>水在終末之界的特性與在主世界相同。</li>
                        <li>指南針不能找到出生點，因為玩家不能在終末之界設定新的出生點。</li>
                        <li>時鐘不能確定太陽和月亮的位置，因為在終末之界中沒有日夜交替，所以時鐘會隨機旋轉。</li>
                        <li>地獄傳送門不能在終末之界激活。（儘管可以通過指令或外部軟體和編輯器放置）</li>
                        <li>火會在基岩上面無盡地燃燒，但不會自然傳播到毗鄰的基岩方塊上。</li>
                    </ul>
                </div>
                <div class="container-fluid End-inside">
                    <h2 class="h4 mb-0 text-gray-800 justify-content-main">生態域</h2>
                    <p>終界由終末之界，終界小島，終界平地，終界高地，終界荒地所組成</p>
                    <ul>
                        <li>終末之界生成在終末之界中以(0,0)為中心1000格為半徑的圓內。終末之界主島在圓心處生成。終末之界的大多數特性都在這個生態域里，例如終界龍、黑曜石柱、終界水晶、5×5生成平台、返回傳送門和20個終界折躍門。</li>
                        <li>終界小島作為外島的一部分生成，由較大的島嶼和它周圍較小的圓形島嶼及其之間的空隙組成。 </li>
                        <li>終界平地作為外島的一部分生成，每個島嶼的丘陵到邊角周圍的懸崖之間有較小的高度變化。終界城會在這裡生成，但不會生成歌萊樹。</li>
                        <li>終界高地作為外島的一部分生成，每個島嶼由丘陵組成。該生態域是唯一一個歌萊樹和終界城都會生成的生態域。</li>
                        <li>終界荒地作為外島的一部分生成，每個島嶼由延伸的邊角組成，邊角下方是陡峭的懸崖。該生態域不會生成歌萊樹和終界城。</li>
                    </ul>

                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; NUK CSIE team.No4 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

                </divc>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/MinecraftDB/login/">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script src='{% static "main_page/vendor/jquery/jquery.min.js" %}'></script>
            <script src='{% static "main_page/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>



            <!-- Custom scripts for all pages-->
            <script src='{% static "main_page/js/sb-admin-2.min.js" %}'></script>

</body>

</html>