{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title hre>Database Project No.6-主頁</title>

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <title hre>Database Project No.6-主頁</title>
    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->

    <link href='{% static "main_page/css/sb-admin-2.min.css" %}' rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e21094afd.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <!-- Sidebar - Brand -->
            <form action="/MinecraftDB/backtomain/" method="POST">
                {% csrf_token %}
                <a class="sidebar-brand d-flex align-items-center justify-content-center"
                    href="/MinecraftDB/backtomain/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-compass"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">NUK CSIE<sup>No.6</sup></div>
                </a>
            </form>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <form action="/MinecraftDB/backtomain/" method="POST">
                    {% csrf_token %}
                    <a class="nav-link" href="/MinecraftDB/backtomain/">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>主頁</span></a>

                </form>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                快速查詢
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-paw"></i>
                    <span>生物</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">生物:</h6>
                        <a class="collapse-item" href="/MinecraftDB/aggressive_mobs">攻擊型生物</a>
                        <a class="collapse-item" href="/MinecraftDB/neutral_mobs">中立型生物</a>
                    </div>
                </div>
            </li>



            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-globe-asia"></i>
                    <span>世界</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">世界:</h6>
                        <a class="collapse-item" href="/MinecraftDB/Overworld">主世界</a>
                        <a class="collapse-item" href="/MinecraftDB/Nether">地獄</a>
                        <a class="collapse-item" href="/MinecraftDB/End">終界</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-hamburger"></i>
                    <span>道具</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">道具:</h6>
                        <a class="collapse-item" href="/MinecraftDB/tools">工具</a>
                        <a class="collapse-item" href="/MinecraftDB/foods">食物</a>
                        <a class="collapse-item" href="/MinecraftDB/building_materials">建材</a>
                        <a class="collapse-item" href="/MinecraftDB/ores">礦物</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - 地形 -->
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/biome">
                    <i class="fas fa-mountain"></i>
                    <span>地形</span></a>
            </li>


            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/structures">
                    <i class="fas fa-gopuram"></i>
                    <span>結構</span></a>
                <div class="topbar-divider d-none d-sm-block"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/Steve">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    <span>史蒂夫戰鬥力計算機</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"><i class="fas fa-angle-down"></i></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{Username}}</span>
                                <img class="img-profile rounded-circle" name="Userpicture"
                                    src="https://fakeimg.pl/128x128/?retina=1&text=%E5%B8%A5%E5%93%A5&font=noto">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/MinecraftDB/profile/">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 個人簡介
                                </a>
                                <a class="dropdown-item" href="/MinecraftDB/post/getpost/">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> 新增/刪除貼文
                                </a>
                                <a class="dropdown-item" href="/MinecraftDB/ALLpost">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> 所有貼文
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/MinecraftDB/login" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> 登出
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">主頁</h1>
                        <a href="../main page/main.html"
                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">


                        <!-- Content Row -->

                        <div class="row">

                            <!-- Area Chart -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Minecraft簡介</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <p>
                                                Minecraft是一款沙盒式建造遊戲，締造者為Mojang AB創始人馬庫斯·佩爾松，其靈感源於《無盡礦工》､《矮人要塞》和《地下城守護者》。
                                                現首席開發者為延斯·伯根斯坦。玩家可以在遊戲中的三維空間里創造和破壞林林總總的方塊，甚至在多人伺服器與單人世界中體驗不同的遊戲模式，打造精妙絕倫的建築物，創造物和藝術品。
                                                時至今日，Minecraft的遊戲平台已囊括了行動裝置和遊戲主機。
                                                <br>
                                                Minecraft著重於讓玩家去探索、交互、並且改變一個由一立方米大小的方塊動態生成的地圖。除了方塊以外，環境單體還包括植物、生物與物品。遊戲裡的各種活動包括採集礦石、與敵對生物戰鬥、合成新的方塊與收集各種在遊戲中找到的資源的工具。
                                                遊戲中的無限制模式讓玩家在各種多人遊戲伺服器或他們的單人模式中進行創造建築物、作品與藝術創作。其他功能包括邏輯運算與遠程動作的紅石電路、礦車及軌道，以及稱之為「地獄」的神秘世界。最終，可以選擇前往一個叫做「終末之界」的維度冒險，並擊敗終界龍。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pie Chart -->
                            <div class="col-xl-4 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">精選圖片</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="main-img">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content Row -->
                        <div class="row">

                            <!-- Content Column -->
                            <div class="col-lg-6 mb-4">

                                <!-- Project Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">相關連結
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <div id="" class="" style="margin: 0.5em 0.8em;">
                                            <p style="margin-bottom: 0;"><b><a
                                                        href="/Help:%E5%AE%98%E6%96%B9%E8%B5%84%E6%BA%90"
                                                        title="Help:官方資源">官方連結</a></b></p>
                                            <div style="-moz-columns: 140px; -webkit-columns: 140px; columns: 140px;">
                                                <ul>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://minecraft.net/">Minecraft官方網站</a>
                                                        <ul>
                                                            <li><a target="_self" rel="nofollow" class="external text"
                                                                    href="https://education.minecraft.net/">教育版</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://minecraft.net/en-us/realms/">Realms官方網站</a>
                                                    </li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://help.mojang.com/">Mojang客戶服務</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://bugs.mojang.com/">Mojang錯誤追蹤器</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://feedback.minecraft.net/">Minecraft反饋</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://mojang.com/">Mojang博客</a></li>
                                                    <li><a target="_self" class="external text"
                                                            href="https://www.minecraftforum.net/">Minecraft官方論壇</a>
                                                    </li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://discordapp.com/invite/minecraft">Minecraft
                                                            Discord</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://twitter.com/Mojang">Mojang Twitter</a>
                                                        <ul>
                                                            <li><a target="_self" rel="nofollow" class="external text"
                                                                    href="https://twitter.com/mojang/lists/mojang-employees">雇員列表</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://www.facebook.com/minecraft">Minecraft
                                                            Facebook</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://www.youtube.com/user/TeamMojang">Minecraft
                                                            YouTube</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://www.twitch.tv/Mojang">Mojang Twitch</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://www.twitch.tv/Minecraft">Minecraft Twitch</a>
                                                    </li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://www.instagram.com/minecraft">Minecraft
                                                            Instagram</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://www.minecraftshop.com">官方Minecraft周邊商城</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p style="margin-bottom: 0;"><b>運營方連結</b></p>
                                            <div style="-moz-columns: 140px; -webkit-columns: 140px; columns: 140px;">
                                                <ul>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="http://mc.163.com/">網易 - 我的世界</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="http://mcmall.163.com/">網易 - 我的世界周邊商城</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="https://minecraft.education.jdcloud.com/cn/">京東雲 -
                                                            我的世界教育版</a></li>
                                                </ul>
                                            </div>
                                            <p style="margin-bottom:0"><b>玩家中文社區</b></p>
                                            <div style="-moz-columns: 140px; -webkit-columns: 140px; columns: 140px;">
                                                <ul>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="http://www.mcbbs.net">Minecraft中文論壇</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="http://forum.gamer.com.tw/A.php?bsn=18673">Minecraft哈啦板
                                                            - 巴哈姆特</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="http://tieba.baidu.com/f?kw=minecraft">Minecraft吧 -
                                                            百度貼吧</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="http://www.mcmod.cn/">MCmod百科</a></li>
                                                    <li><a target="_self" rel="nofollow" class="external text"
                                                            href="http://mineplugin.org/">Minecraft插件百科</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-lg-6 mb-4">

                                <!-- Illustrations -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">參考</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center">
                                        </div>
                                        <p>這個專題的主要參考以及來源以及一些風格的設計來自Minecraft中文維基(其實是抄的)</p>
                                        <a target="_blank" rel="nofollow"
                                            href="https://minecraft-zh.gamepedia.com/index.php?title=Minecraft_Wiki&variant=zh-tw">前往Minecraft中文維基
                                            &rarr;</a>
                                    </div>
                                </div>

                                <!-- Approach -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">精選影片</h6>
                                    </div>
                                    <div class="card-body">
                                        <video width="100%" height="100%" autoplay muted=”true”>
                                            <source src="https://giant.gfycat.com/ClumsyTanGibbon.webm" type="video/webm">
                                        </video>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; NUK CSIE team.No6 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="../login/login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src='{% static "main_page/vendor/jquery/jquery.min.js" %}'></script>
        <script src='{% static "main_page/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>



        <!-- Custom scripts for all pages-->

        <script src='{% static "main_page/js/sb-admin-2.min.js" %}'></script>

</body>

</html>