{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title hre>Database Project No.6-攻擊型生物</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title hre>Database Project No.6-攻擊型生物</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href='{% static "main_page/css/sb-admin-2.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template-->
    <script src="https://kit.fontawesome.com/2e21094afd.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <!-- Sidebar - Brand -->
            <form action="/MinecraftDB/backtomain/" method="POST">
                {% csrf_token %}
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/MinecraftDB/backtomain/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-compass"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">NUK CSIE<sup>No.6</sup></div>
                </a>
            </form>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <form action="/MinecraftDB/backtomain/" method="POST">
                    {% csrf_token %}
                    <a class="nav-link" href="/MinecraftDB/backtomain/">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>主頁</span></a>

                </form>

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                快速查詢
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-paw"></i>
                    <span>生物</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">生物:</h6>
                        <a class="collapse-item" href="/MinecraftDB/aggressive_mobs">攻擊型生物</a>
                        <a class="collapse-item" href="/MinecraftDB/neutral_mobs">中立型生物</a>
                    </div>
                </div>
            </li>



            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-globe-asia"></i>
                    <span>世界</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">世界:</h6>
                        <a class="collapse-item" href="/MinecraftDB/Overworld">主世界</a>
                        <a class="collapse-item" href="/MinecraftDB/Nether">地獄</a>
                        <a class="collapse-item" href="/MinecraftDB/End">終界</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-hamburger"></i>
                    <span>道具</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">道具:</h6>
                        <a class="collapse-item" href="/MinecraftDB/tools">工具</a>
                        <a class="collapse-item" href="/MinecraftDB/foods">食物</a>
                        <a class="collapse-item" href="/MinecraftDB/building_materials">建材</a>
                        <a class="collapse-item" href="/MinecraftDB/ores">礦物</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - 地形 -->
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/biome">
                    <i class="fas fa-mountain"></i>
                    <span>地形</span></a>
            </li>


            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/structures">
                    <i class="fas fa-gopuram"></i>
                    <span>結構</span></a>
                <div class="topbar-divider d-none d-sm-block"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MinecraftDB/Steve">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    <span>史蒂夫戰鬥力計算機</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"><i class="fas fa-angle-down"></i></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column Nether">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/MinecraftDB/Search/" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{Username}}</span>
                                <img class="img-profile rounded-circle" src="https://fakeimg.pl/128x128/?retina=1&text=%E5%B8%A5%E5%93%A5&font=noto">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/MinecraftDB/profile/">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 個人簡介
                                </a>
                                <a class="dropdown-item" href="/MinecraftDB/post/getpost/">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> 新增/刪除貼文
                                </a>
                                <a class="dropdown-item" href="/MinecraftDB/ALLpost">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> 所有貼文
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/MinecraftDB/login" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> 登出
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid Nether-inside">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-main mb-4">
                        <h1 class="h3 mb-0">地獄</h1>
                        <a href="../main page/main.html" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-edit"></i> Edit</a>
                    </div>
                    <!-- /.container-fluid -->
                    <p>地獄（The Nether）是一個地獄般的維度，充斥著火、熔岩以及危險而強大的生物。</p>
                </div>
                <div class="container-fluid Nether-inside">
                    <h2 class="h4 mb-0 justify-content-main">前往</h2>
                    <div class="thumb tright">
                        <div class="thumbinner" style="width:202px;">
                            <img alt="" src="https://gamepedia.cursecdn.com/minecraft_zh_gamepedia/e/e4/NetherPortal.gif?version=30ca13de89387314f1b105a9daeea2f7"></a>
                            <div class="thumbcaption">
                                <div class="magnify">
                                    <a href="/File:River_through_Mesa.png" class="internal" title="放大"></a>
                                </div>一個地獄傳送門方塊。</div>
                        </div>
                    </div>
                    <p>要到達地獄，玩家必須在主世界建造一個地獄傳送門（位於終末之界的地獄傳送門並不會被激活）。要創建地獄傳送門，必須建造一個黑曜石框架，大小最小為4×5，最大為23×23。一旦建造好黑曜石框架後，在黑曜石的內側里用打火石或烈焰彈點火（或者使用其他可以使黑曜石著火的方法）就可以激活地獄傳送門，只要黑曜石內側出現火，傳送門就會被激活。地獄傳送門激活後，會發出像終界使者的粒子效果似的紫色粒子。<br> 激活的傳送門允許大多數實體通過（除了凋零怪、終界龍和騎乘著實體的實體或被騎乘著的實體），且會在地獄的相應坐標創建一個新的傳送門（地獄中1格相當於主世界8格），如果相應坐標及其附近已有傳送門，將把實體直接傳送到已有的傳送門，而不是重新創建。如果傳送門創建在空中或液體上方，將會向傳送門兩邊分別突出2個黑曜石來保證實體不會掉下去。以上傳送門生成規則無論是主世界到地獄還是地獄到主世界都有效。黑曜石框架被破壞、傳送門附近爆炸、框架里被桶或發射器放置熔岩或水、地獄幽靈的火球都會導致地獄傳送門關閉。
                    </p>
                </div>
                <div class="container-fluid Nether-inside">
                    <h2 class="h4 mb-0 justify-content-main">環境
                    </h2>
                    <div class="thumb tright">
                        <div class="thumbinner" style="width:322px;">
                            <img alt="" src="https://gamepedia.cursecdn.com/minecraft_zh_gamepedia/thumb/c/c1/Nether_Brick_Well.png/375px-Nether_Brick_Well.png?version=3905fb541502f8e08a695e5919784067"></a>
                            <div class="thumbcaption">
                                <div class="magnify">
                                </div>地獄要塞的內部。</div>
                        </div>
                    </div>
                    <p>地獄的地形的組成部分大部分是地獄石，它們形成了巨大而光滑的突起和牆壁。熔岩海、熔岩瀑布和熔岩河在地獄會經常出現。藏在地獄石里的熔岩也是很常見的，這讓大型採掘項目變得很危險。在地獄石上永久燃燒的火焰對於粗心的玩家來說也是另一種危險。</p>
                    <p>螢光石倒掛在洞頂，蘑菇大量地生長在地上。有許多浮在空中的小塊礫石和嵌在地表上的靈魂砂。在地獄石層中存在著小隧道，裡面隨機地散布著地獄石英礦。在靠近熔岩海平面附近的地方，岩漿塊會零星地生成在地獄石中，使得在這裡的通行變得困難，並且盔甲很可能會損壞。</p>
                    <p>地獄沒有晝夜交替和天氣。僅有的天然光源來自於火、熔岩和螢光石。即使亮度等級為0，地獄仍然中有一層昏暗的光（相當於主世界亮度等級低於8時的樣子）。光照系統其他功能都如它在終末之界和主世界那樣正常運行。
                    </p>
                </div>
                <div class="container-fluid Nether-inside">
                    <h2 class="h4 mb-0 justify-content-main">生態域</h2>
                    <p>地獄生態域在生成地獄時使用。諸如地獄幽靈、成群的殭屍豬人、少見的岩漿立方怪和終界使者之類的生物在此生成。地獄石英、螢光石堆、地獄要塞等結構是這裡的專屬結構。雖然水無法在地獄維度中放置，在超平坦世界中選中地獄生態域時，冰和水體湖泊（以及其他的主世界結構）仍然會生成。 </p>

                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; NUK CSIE team.No6 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

                </divc>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/MinecraftDB/login/">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script src='{% static "main_page/vendor/jquery/jquery.min.js" %}'></script>
            <script src='{% static "main_page/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>



            <!-- Custom scripts for all pages-->
            <script src='{% static "main_page/js/sb-admin-2.min.js" %}'></script>

</body>

</html>